.mainContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}
.container {
  display: flex;
  height: 100vh;
  width: 50vw;
  position: fixed;
  left: 5vw;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verticalText {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  width: 5vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3vw;
  background: #0a81ab;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.postContainer {
  display: flex;
  width: 45vw;
  margin-left: 55vw;
  flex-direction: column;
  flex-grow: 1;
}

.rowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5vw;
  padding: 10px;
  margin: 16px;
  color: #d3e0ea;
  font-weight: bold;
}

.counter {
  font-size: 4vw;
  padding: 10px;
  margin: 16px;
  min-width: 20%;
  color: #d3e0ea;
  text-align: center;
  font-weight: bold;
}

.mButton {
  padding: 10px;
  margin: 20px;
  min-width: 240px;
  border-radius: 16px;
  color: #276678;
  background: #ffe3d8;
  opacity: 1;
  font-size: 2.2vw;
  font-weight: bold;
  border: none;
}

.mButton:active {
  opacity: 0.7;
  border: none;
}

.contentText {
  font-size: 1.5vw;
  padding: 10px;
  margin: 10px;
  color: #d3e0ea;
  font-weight: bold;
}

.posts {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background: #d3e0ea;
  padding: 16px;
  border-radius: 10px;
  margin: 8px 16px;
}

.postTitle {
  padding: 0px;
  margin: 4px 0px;
  font-size: 1.5vw;
  font-weight: bold;
}

.postDescription {
  padding: 0px;
  margin: 4px 0px;
  font-size: 16px;
}

.shimmer {
  border-radius: 10px;
  animation-name: shimmerBg;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes shimmerBg {
  0% {
    background-color: #acacac;
  }
  100% {
    background: #cdcdcd;
  }
  -50% {
    background: #cdcdcd;
  }

  0% {
    background-color: #a9a9a9;
  }
}

@media only screen and (max-width: 1000px) {
  .verticalText {
    writing-mode: horizontal-tb;
    text-orientation: none;
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px  0px;
  }
  .mainContainer {
      flex-direction: column;
  }

  .postContainer {
      width: 100%;
      margin-left:0px;
  }

  .container {
      position: relative;
      width: 100%;
      left: 0px;
      height: auto;
      padding: 32px 0px;
  }
}
